/* 		fg_18.CSS */
/*       updated for epub3/MOBI 5-22*/
/* 		revisions 7/8/13*/

@page 			{  border: .5ex; }
		
body 			{margin: 5%; 
				-webkit-font-smoothing: subpixel-antialiased;
				text-align:center;}


/* HEADERS __________________________________________________________*/
h1, div.tag7 p.st {
	font: bold 2.25em/1em "Palatino Linotype", "ITC Stone Serif", "Athelas", "Georgia", "Palladino",  "New Times Roman", Padauk, serif !important; 
	-webkit-font-smoothing: subpixel-antialiased;
	text-align:center;
	margin: 2.5em 0em;
	padding: 0em 0em 0.5em 0em;
	-webkit-hyphens:none;
}
		
/*___________________________________________________________________*/	

p { 	
		-webkit-font-smoothing: subpixel-antialiased;
    	orphans: 2;
		widows: 2;
		text-align:center;
		text-indent:0em;
		margin: 2.5em 0 .5em 0;}
		
p:nth-child(even){margin: .5em 0;}
p:nth-child(odd), p:nth-child(10) {margin-top: 2em;}
p:nth-child(8), p:nth-child(9), p:nth-child(11){margin-top:1em;}
/*p:nth-of-type(11), p.sb {display:none;}  /* SEO SET */


/*Context title*/
p.contextTtl {
	border-bottom: thin solid #3d3d3d;
	color:#3d3d3d;
	font: .95em/normal Arial, Helvetica, Padauk, sans-serif !important;
	margin: 0em 0em 2.5em 0em;
	padding-bottom: 0.3em;
	text-transform: uppercase;
	-webkit-hyphens:none;
	-webkit-font-smoothing: subpixel-antialiased;}




div.copyrightInfo p 				{	margin: 0em 0em 0.5em 0em;
												font: 0.7em Arial, Helvetica, Padauk, sans-serif;}  
div.copyrightInfo p:last-child  { margin-bottom: 2em;}
div.groupPubInfo p 					{ 	margin: 0em 0em 0.5em 0em;
												font: 0.7em Arial, Helvetica, Padauk, sans-serif;}


.CI { text-align: center; margin-top: 0px; margin-bottom: 0px; padding: 0px; }
.center { text-align: center; }
.bold { font-weight: bold;}


