
/* 		fg_19.CSS 10-12 */
/* revised validated 4-16*/
/* revised validated ePub3/MOBI 5-17 */
/* adjustments 6-26 */
/*  	TABLE OF CONTENTS */
/*  1.		@ function commands
	2.		Headers
	3. 		p dec
	4.		formatting command arguments
	6.			DIV tag structures
			a.		body/headings text formatting
			b.		footnote formatting 
			e.		MM Content image positional divs
			f.		display only content
	6.		Images
	7.		Captions
	8. 		Link Elements
------------------------------------------------------------*/
@page 			{    
						border: .5ex; 
						}
		

body 		{	margin: 5%; 
				text-align: left;
				-webkit-font-smoothing: subpixel-antialiased;}


/* HEADERS __________________________________________________________*/
h1.contextTtl {
	color:#3d3d3d;
	font: .95em/normal Arial, Helvetica, Padauk, sans-serif !important;
	-webkit-font-smoothing: subpixel-antialiased;
	text-align: center;
	margin: 0em 0em 1em 0em;
	-webkit-hyphens:none;
	border-bottom: thin solid #3d3d3d;
	padding-bottom: 0.3em;
	text-transform: uppercase;
}


div.GroupoTOC h2 { 		font: bold 1.25em/1.1em "TrebuchetMS", "Trebuchet MS", Arial, Helvetica, Padauk, sans-serif;
			margin: 0em 0em 1em 0em;
			-webkit-hyphens:none;
			-webkit-font-smoothing: subpixel-antialiased;  }


div.GroupoTOC p { 	font: 0.95em/1.2em Arial, Helvetica, Padauk, sans-serif;
		text-indent: 0em; /* revised 4-16*/
		margin: 0em 0 1.5em 0;
		-webkit-font-smoothing: subpixel-antialiased;
    	orphans: 2;
		widows: 2;
}


		
.CI { text-align: center; margin-top: 0px; margin-bottom: 0px; padding: 0px; }
.center { text-align: center; }
.smcap { font-variant: small-caps; }
.u { text-decoration: underline; }
.bold { font-weight: bold;}


/*LINK ELEMENTS*/

	/*apple: ibooks, ipad, iphone*/
a:link    {	-webkit-text-fill-color: #3fa2bf;
			-webkit-tap-highlight-color: silver;} 
a:visited { -webkit-text-fill-color: gray;
			-webkit-tap-highlight-color: silver;}
a:hover   {-webkit-text-fill-color: blue;text-decoration: none;
			-webkit-tap-highlight-color: silver;} 
a:active  { -webkit-text-fill-color: maroon;
			-webkit-tap-highlight-color: silver;} 
			

	/*web browsers + other */

	a:link    {color:#3fa2bf;}  
	a:visited {color:#c9c9c9; }
	a:hover   {color:#0000FF;text-decoration: none;} 
	a:active  {color:#800000;}


/* MOBI */

e:link	 	{color:#3fa2bf;} 
e:visited	{color:#c9c9c9; text-decoration: none;}
e:active		{color:#800000;} 
e:hover		{color:#0000FF; text-decoration: none;} 
e:focus		{color:#3fa2bf; background-color:#c5b587;}

/*______________________________________________________2-9-13_______*/	 



