/* 		fg_39.CSS 10-12 COVER PAGE*/
/*  	epub3 validated 5-22-13 */
/*  1.		Headers
	2.		MM
	3.		Images
------------------------------------------------------------*/

@page 			{    border: .5ex; 				}

body 			{	margin: 5%; 
					-webkit-font-smoothing: subpixel-antialiased;}

/* HEADERS __________________________________________________________*/
h1 { 	display:none; }

/*MM___________________________________________________________________*/


div.north_center, div.w_north_center { 
		   width: 100% !important;
           float: right;
           margin: 2em 0em 0em 0em  !important;
           line-height: 1.20em !important;
           display: inline-block;
}

img, figure { 	width: 100% !important;
   				vertical-align: middle;
				margin:0em;}