/* default.CSS - for ES - Examing the Scriptures Daily */

@page {
	border: .5ex; 
}
body {
	margin: 5%;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .95em;
}

p.contextTtl strong, h1.contextTtl strong{
	font-weight: lighter;
}
h1 {
	text-align: center;
	font-size: 200%;
	line-height: normal;
}
h1.coverTtl {
	display: none;
}


h2 {
  	text-align:center;
	font-size: 1.25em;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

/*  P  */
p {
	text-align: left;
}
.scrp strong {
	text-align:center;
	font-size: 1.25em;
	font-weight: lighter;
}
p.themeScrp {
	text-align: center;
}

/*  DIV  */

div.bodyTxt p{
	text-align: left;
	font-size: 0.95em;
	padding-top: 0em;
	margin-bottom: 1em;
	line-height: normal;
}
div.closingContent p {
	text-align: left;
	text-indent: 0em;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: .95em !important;
	margin: 1em 0em 0.5em 0em;
}
div.groupExt p{
	text-align: left;
}
div.groupExtScrpCite div#citation1.extScrpCite:before  {
	font-size: 100% !important;
	color: grey;
	content: "_______________";
}
div.groupFootnote:before{
	font-size: 100%!important;
	color: grey;
	content: "_______________";
}
/*apple: ibooks, ipad, iphone*/
a:link{
	-webkit-text-fill-color: #3fa2bf;
	-webkit-tap-highlight-color: silver;
} 
a:visited {
	-webkit-text-fill-color: gray;
	text-decoration: none;
	-webkit-tap-highlight-color: silver;
}
a:hover   {
	-webkit-text-fill-color: blue;
	text-decoration: none;
	-webkit-tap-highlight-color: silver;
} 
a:active  {
	-webkit-text-fill-color: maroon;
	-webkit-tap-highlight-color: silver;
} 
/*web browsers + other */
a:link    {
	color:#3fa2bf;
}  
a:visited {
	color:#c9c9c9;
	text-decoration: none;
}
a:hover   {
	color:#0000FF;
	text-decoration: none;
} 
a:active  {
	color:#800000;
} 
/* MOBI */
e:link{
color:#3fa2bf;
} 
e:visited {
	color:#c9c9c9;
	text-decoration: none;
}
e:active{
	color:#800000;
} 
e:hover{
	color:#0000FF;
	text-decoration: none;
} 
e:focus{
	color:#3fa2bf;
	background-color:#c5b587;
}