body { margin-left: 5%; margin-right: 5%; margin-top: 5%; margin-bottom: 5%; text-align: left; }
h1 { text-align: center; }
h2 { text-align: center; }
h3 { text-align: center; }
h4 { text-align: center; }
h5 { text-align: center; }
h6 { text-align: center; }
p { font-size: small;
    orphans: 2;
	windows: 2;
}
p.w_pagenavnum {
	font-size: large;
}
.s1 {
	font-family: "Times New Roman", Times, serif !important;
	font-size: 0.9em;
	line-height: normal;
	text-align: left;
	margin: 0.20em 0em 0.50em 0em;
}
.sa {
	font-family: "Times New Roman", Times, serif !important;
	font-size: 0.85em;
	line-height: normal;
	text-align: left;
	margin: 0.20em 0em 0.50em 0em;
}
.sb {
	font-family: "Times New Roman", Times, serif !important;
	font-size: 0.85em;
	line-height: normal;
	text-indent: 0.50em;
	text-align: left;
	margin: 0 0 0.5em 0;
}
p.sc {
	font-family: "Times New Roman", Times, serif !important;
	font-size: 0.85em !important;
	line-height: normal !important;
	text-align: left;
	margin: 0.1em 0 0 0;	
}
p.s0 {
	display: none;
}
.sd {
	font-family: "Times New Roman", Times, serif !important;
	font-size: 0.85em;
	line-height: normal;
	margin: 0em 0em 0.5em 0em;
	text-align: right;
}
p.se {
	font-family: "Times New Roman", Times, serif !important;
	font-size: 1em !important;
	line-height: normal !important;
	text-align: left;
	margin-top: .5em;
	margin-right: 0em;
	margin-bottom: 0em;
	margin-left: 0em;
}
p.s9 {
	display: none;
}
.sf {
	font-family: "Times New Roman", Times, serif;
	font-size: 0.85em;
	line-height: normal;
	text-align: left;
	margin: 1em 0em 1em 0em;
}
.sg {
	font-family: "Times New Roman", Times, serif !important;
	font-size: 1.1em;
	line-height: normal;
	text-align: left;
	padding: 0px;
	margin-top: 2em;
	margin-right: 0;
	margin-bottom: 0em;
	margin-left: 0;
}
.sh {
	font-family: "Times New Roman", Times, serif !important;
	font-size: 0.95em;
	line-height: normal;
	text-align: left;
	margin-top: 0.5em;
	margin-right: 2em;
	margin-bottom: 0.7em;
	margin-left: 1em;
}
.si {
	font-family: "Times New Roman", Times, serif !important;
	font-size: 0.85em;
	line-height: normal;
	margin: 1em 0 1em 0;
	padding: 0 1.5em 0 1.5em;
}
.sj {
	font-family: "Times New Roman", Times, serif !important;
	font-size: 0.85em;
	line-height: normal;
	margin-top: 0.5em;
	margin-right: 0;
	margin-bottom: 0em;
	margin-left: 0;
	padding-top: 0em;
	padding-right: 1.5em;
	padding-bottom: 1em;
	padding-left: 1.5em;
}
.sk {
	font-family: "Times New Roman", Times, serif !important;
	font-size: 0.8em;
	line-height: normal;
	margin: 0.3em 0 0.3em 0;
	padding-left: 1.5em;
}
.sl {
	font-family: "Times New Roman", Times, serif !important;
	font-size: .85em;
  margin: 0.3em 0 0.2em 0;
  padding-left: 2.5em;
  text-indent: -2.5em;
}
.sm {
	font-family: "Times New Roman", Times, serif !important;
	font-size: 0.8em;
	line-height: normal;
	text-indent: 1em;
	margin: 0em 0 2.5em 0;
}
.sn {
	font-family: "Times New Roman", Times, serif !important;
	font-size: .85em;
	margin: 1em 0 1em 0;
	padding-left: 1.5em;
}
.so {
	font-family: "Times New Roman", Times, serif !important;
	font-size: 0.75em;
	line-height: normal;
	text-align: left;
	margin: 1em 0em 0em 0em;
}
.sp {
	font-family: "Times New Roman", Times, serif !important;
	font-size: .85em;
  	margin: 0.5em 0 0.5em 1em;
  	padding-left: 2.5em;
  	text-indent: -2.5em;
}
p.sq {
	font-family: "Arial";
	font-size: 0.79em;
	line-height: normal;
	text-align: left;
	margin: 0em 0em 0.22em 0em;
    	color: #1f9c0a;
}
.sr {
	font-family: "Times New Roman", Times, serif !important;
	font-weight: bold;
	font-size: 0.75em;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-color: #e9ebbd;
	border-bottom-style: solid;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	line-height: 1.5em;
	margin: 0 0 2em 0;
}
.ss {
	font-family: "Times New Roman", Times, serif !important;
	font-size: 0.90em;
	line-height: normal;
	font-variant: normal;
	text-align: center;
	margin: 1.5em 0 0 0;
}
.st {
	font-family: "Times New Roman", Times, serif !important;
	font-size: .95em;
	text-align: center;
	line-height: normal;
	margin: 0.5em 0 0.75em 0;
	-webkit-hyphens:none;
}
.su {
	font-family: "Times New Roman", Times, serif !important;
	text-align: center;
	font-size: 1.2em;
	margin: -0.5em 0 0.5em 0;
}
.sv {
	font-family: "Times New Roman", Times, serif !important;
	font-size: 0.95em;
	line-height: normal;
	font-variant: normal;
	text-align: center;
	margin: 1em 0 0.5em 0;
}
.sw {
  	font-size: 0.8em;
  	font-style: italic;
  	text-align: center;
}
.sx {
	font-family: "Times New Roman", Times, serif !important;
	font-size: 0.95em;
	line-height: normal;
	font-variant: normal;
	text-align: center;
	margin: 1em 0 0.5em 0;
}
.sy {
	font-family: "Times New Roman", Times, serif !important;
	font-size: 0.95em;
	line-height: normal;
	font-variant: normal;
	text-align: center;
	margin: 1em 0 0.5em 0;
}
.sz {
	font-family: "Times New Roman", Times, serif !important;
	font-size: .85em;
  	margin: 0.2em 0 0.3em 0;
 	padding-left: 2.5em;
  	text-indent: -0.5em;
}
div.tag23 {
	background-color: #f3f3f5;
	page-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	margin-bottom: 2em;
	line-height: normal;
	padding: 1.20em;
}
div.tag30 {
	background-color: #f3f3f5;
	page-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	margin-bottom: 2em;
	padding-bottom: .5em;
	}
div.tag30 p.sg {
	font-family: "Times New Roman", Times, serif !important;
	font-size: 0.85em;
	line-height: normal;
	padding-top: 1.5em;
	text-align: center;
}
div.tag30 p.sh {
	font-family: "Times New Roman", Times, serif !important;
	font-size: 0.85em;
	line-height: normal;
	margin: 1em 0 1em 0;
	padding: 0 1.5em 0 1.5em;
}
p.w_question {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	font-size: 0.79em;
	line-height: normal;
	text-align: left;
	margin: 0em 0em 0.22em 0em;
    	color: #1f9c0a;
}
.CI { text-align: center; margin-top: 0px; margin-bottom: 0px; padding: 0px; }
.center { text-align: center; }
.smcap { font-variant: small-caps; }
.u { text-decoration: underline; }
.bold { font-weight: bold;
}

a:link    {color:#00F;}
a:visited {color:#90F;text-decoration: none;}
a:hover   {color:#06F;text-decoration: none;}
a:active  {color:yellow;} 
