/* Global style */


/* home.htlm */
.banner {
	background-image:url('/img/background.jpg');
	background-size: 100%;
	background-repeat: no-repeat;

	text-align: center;
	height: 150px;
}
.banner h2,.banner p {
	text-shadow: -4px 4px 4px #000, 1px -1px 2px #000;
	margin-top: 5px;
	color: #fff;
}

.arrow-box {
    height: 50px;
    position:  relative;
    background: #F56714;
}
.arrow-box:after, .arrow-box:before {
    top: 100%;
    left: 60px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-envets: none;
}
.arrow-box:after {
    border-color: rgba(102, 92, 44, 0);
    border-top-color: #F56714;
    border-width: 3px;
    border-left: -3px;
}
.arrow-box:before {
    border-color:rgba(16, 19, 20, 0);
    border-top-color: #F56714;
    border-width: 9px;
    border-left: -9px; 
}
.arrow-box p {
    line-height: 50px;

    font-weight: bold;
    font-size: 18px;
    color: black;

    text-shadow: none;
}

.widget {
	margin-top: 10px;
}


/* Content.htlm */

iframe {
	/* We set only the width of the iframe 
	   because we use jquery to set the height
	   of the iframe for better view in all devices
	*/
	width: 100%;
}


/* modal */
.modal {
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, .75);
}
.content {
    margin-top: 44px;
}
textarea {
    height: 100vh;



/* notes.html */
a {
    text-decoration: none;
}
