
/* CSS Document */
/* nwt.css */
/* 9-20-13, 9-23-13, 9-29-13, 10-5 REVISED 10-8*/



body { 	margin: 5%;
		-webkit-font-smoothing: subpixel-antialiased; }

h1.coverTtl {display:none;}


img, figure { 		width: 100% !important;
      				vertical-align: text-top;
				margin: 0em !important; clear:both;
}


div.north_center { width: 100% !important;
float:left;
           margin: 0em !important;
           line-height: 1.20em !important;
			clear:both;}

 