
/* CSS Document */
/* bi12_12 CSS Document 9-23, 9-26, 10-9, 10-17*/

body { 
	margin: 5%; 
	text-align: left;}
		

/* GLOBAL*/

strong {font-weight:200;}

h1 { 	font-size: 1.5em;
		font-family: 'Helvetica Neue', 'HelveticaNeue', Arial, Helvetica, sans-serif;
		text-align: left;
		color: #75000b;
		font-weight: inherit;
		margin: 0em;
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 1em;
		padding-left: 0;
		-webkit-font-smoothing: subpixel-antialiased;}

p.st.strong  { font-size: 1.25em;
		font-family:'Helvetica Neue', 'HelveticaNeue', Arial, Helvetica, sans-serif;
		text-align:left;
		color:#75000b;
		font-weight:200;
		margin:0em;
		padding-top:0;
		padding-right: 0;
		padding-bottom: 1em;
		padding-left: 0;
		-webkit-font-smoothing: subpixel-antialiased;}

h2, .ss{ 
	font-size: 1.35em;
	line-height: 1.25em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	text-indent: 0em;
	color:#75000b;
	font-weight:200;
	margin-top: 0;
	margin-right: 0em; 
	margin-bottom: 1em;
	margin-left: 0;
	-webkit-font-smoothing: subpixel-antialiased;
	padding-top: 1em;
	}

h1 strong, h2 strong, h1.strong, h2.strong {
	font-weight:200;}

div.pGroup {
	text-align:left;
	margin-top: 0em;
	margin-right: 0em;
	margin-bottom: 0em;
	margin-left: 0em;
	display:inline;}

p.contextTtl {                                   
	color:#3d3d3d;
	font-size: .95em;
	line-height: normal;
	font-family: Arial, Helvetica, sans-serif !important;
	margin-bottom: 2.5em;
	margin-top: 0;
	margin-right: 0;
	padding-bottom: 0.3em;
	margin-left: 0;
	text-transform: uppercase;
	-webkit-hyphens:none;
	-webkit-font-smoothing: subpixel-antialiased;
}

/* p dec */
p 	{
	margin-top: 0em;}

div.bodyTxt p.sb{       
	font-size: 0.95em ;
	text-align: left;
	padding-top: .5em;
	margin-top: -.75em;
 	-webkit-font-smoothing: subpixel-antialiased;}

div.bodyTxt p.sb:first-child{       
	font-size: 0.95em;
	text-align: left;
	padding-top: .5em;
	margin-top: .75em;
 	-webkit-font-smoothing: subpixel-antialiased;}

div.openingContent p, div.closingContent{
	text-align: center;
	font-size: 1.1em;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif !important;
	margin-left: 0em;
}

div.closingContent {
	margin-top:1em;
}

/* BIBLE WORDS INDEXED */
 
.sm{ 
	-webkit-font-smoothing: subpixel-antialiased;
	font-size:0.95em;
	line-height: 1em;
	font-family: serif;
	text-align: left;
	/*padding-left:-0.95em;*/
	text-indent:-2.95em;
	margin-top:0.2em;
	margin-bottom:0.1em;
	margin-left:3.2em;
}

.sm strong {	
	font-weight:700;
	font: Arial, Helvetica, sans-serif; 
	font-size:1.1em; }

.sk{ 
	-webkit-font-smoothing: subpixel-antialiased;
	font-size: 0.95em;
	font-family: serif;
	text-align: left;
	margin-left: 2.5em;
	padding-top: 0em;
	padding-right: 0;
	padding-bottom: 0;
	padding-right: 1em;
}


.sk + .sk, .sk + .sk + .sk, .sk + .sk + .sk + .sk, .sm + .sk, .sm + .sk + .sk, .sm + .sk + .sk + .sk {margin-top:0em; margin-bottom:0em;}

.sm + .sk, .sm + .sk + .sk + .sk {
	margin-top:0em;
	margin-bottom:0em;}


p.sn {
font-size: 1em;
text-align: left;
padding-top: 1em;
}

.sn {   
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: 0em;
	margin-right: 0em;
	margin-bottom: 0em;
	margin-left: 0em;
	padding-top: 0em;
	padding-right: 0em;
	padding-bottom: 0em;
	padding-left: 0em;
	text-indent:0em; 
	display: block; 
	float: left; 
	text-align: left;
	-webkit-font-smoothing: subpixel-antialiased;} 

.docNav a{ 
		border: 0px solid #3d3d3d;
		display: inline-block;
		font-size: 1.5em;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: 200;
		height: 1.75em;
		/*margin-left: -24px;  /* flush left margin*/
		margin-left: 0.1em;
		padding-top: 12px;
		padding-right: 2px;
		padding-bottom: 0px;
		padding-left: 5px;
		text-align: center;
		text-indent: 0em;
		-webkit-font-smoothing: subpixel-antialiased;
		-webkit-hyphens:none;
		width: 2.25em;
		clear: both;
		text-decoration:none;
 		}
		 
.sn a:last-of-type{
	letter-spacing: 0em;
	padding-left: -.5em;
	display: inline-table}   /*0-9 */


p.sw {
	text-align: center;
	font-size: small;
	margin-right: 70%;  
	margin-bottom: 2em;
	font-style:italic;
}


p.sc {
	font-size: .95em;
	text-align: left;
	padding-top: 0em;
	margin-top: .2em;
	margin-bottom: 0em;
	font-family: "Times New Roman", Times, serif;
}


/* cite*/
div.groupFootnote:before {
	font-size: 1em;
	color: grey;
	content: "_______________";}

div.groupFootnote p{
	font-size: 0.75em;
	margin-top: 1.25em;
	margin-right: 0em;
	-webkit-font-smoothing: subpixel-antialiased;}

div.groupExtScrpCite p {
	font-size: 0.75em;
	margin-top: 1em;
	-webkit-font-smoothing: subpixel-antialiased;}

div.groupExtScrpCite {
	padding-top: .25em;}

div.groupExt {
	margin-top: 1.75em;}


/************************************/


/* navigation */
a:active,
a:link,
a:visited
    {
    font-family:inherit;
    font-weight: 200;
	margin-top: 0em;
	margin-right: 0em;
	margin-bottom: 0em;
	margin-left: 0em;
	padding-top: 0em;
	padding-right: 0em;
	padding-bottom: 0em;
	padding-left: 0em;
	text-align:left;
    -webkit-text-fill-color: #6195c7;
    color: #6195c7;
    }

a:hover {
	-webkit-text-fill-color: grey;
    color: grey; }


/* MOBI */

e:link {
	color: #6195c7;
}
 
e:visited {
	color: #6195c7; 
	text-decoration: none;
}

e:active {
	color: #6195c7;
} 

e:hover {
	color: #666; 
	text-decoration: none;
} 

e:focus {
	color: #3fa2bf; 
	background-color: #c5b587;
}


