/* 	epub2toc.css - bh */

/* ------------------------------------------------------ */

@page {    	
	border: .5ex; 
}
		
body {
	margin: 5%;
	text-align: left;
}

/* HEADERS */

h1 {
	font: bold 1.25em "Times New Roman", "TimesNewRomanPSMT", Times, serif !important;
	text-align: center;
	text-transform: uppercase;
	-webkit-font-smoothing: subpixel-antialiased;
	border-bottom: 1px solid gray;
	padding: .25em 0em 0em 0em;
	margin-bottom: 0em;
} 


h2 /* copyright */ {
	font: .85em/1.2em "Arial", Helvetica, sans-serif !important;
	text-align: center;
	margin: 0em;
	text-indent: 0em;
	page-break-after: avoid;
	-webkit-font-smoothing: subpixel-antialiased;
}

/* P */	

p { 	
	font-size: small;
	-webkit-font-smoothing: subpixel-antialiased;
    orphans: 2;
	widows: 2;
}

/* display none*/

li {
	display:none;
}

/* LINK ELEMENTS */

/*apple: ibooks, ipad, iphone*/
a:link {	
	-webkit-text-fill-color: #3fa2bf;
	-webkit-tap-highlight-color: silver;
} 
			
a:visited { 
	-webkit-text-fill-color: gray;
	text-decoration: none;
	-webkit-tap-highlight-color: silver;
}
			
a:hover {
	-webkit-text-fill-color: blue;
	text-decoration: none;
	-webkit-tap-highlight-color: silver;
} 
			
a:active { 
	-webkit-text-fill-color: maroon;
	-webkit-tap-highlight-color: silver;
} 

/*web browsers + other */

a:link {
	color:#3fa2bf;
}  

a:visited {
	color:#c9c9c9; 
	text-decoration: none;
}

a:hover {
	color:#0000FF;
	text-decoration: none;
} 

a:active {
	color:#800000;
} 

/* MOBI */

e:link {
	color:#3fa2bf;
} 

e:visited {
	color:#c9c9c9; 
	text-decoration: none;
}

e:active {
	color:#800000;
} 

e:hover {
	color:#0000FF; 
	text-decoration: none;
} 

e:focus {
	color:#3fa2bf; 
	background-color:#c5b587;
}

/* ------------------------------------------------------ */

