
/* CSS Document */
/* 1001060478  Topics CSS Document*/

body { 	
	margin: 5%; 
	text-align: left;}
		

/* GLOBAL*/

h1 + strong {
	font-weight:200;
	}

strong   {
	font-weight:200;
}
p strong, p.strong {
	font-weight:700;
}
 
h1, h1.contextTtl
{
	font-weight:inherit;
	color:#75000b;
	font-size: 1.5em;
	font-family: 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	text-align:left;
	-webkit-font-smoothing: subpixel-antialiased;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 1em;
	padding-left: 0;
	-webkit-font-smoothing: subpixel-antialiased;}


h2 { 
	font-size: 1.2em/1.25em;
	font-family: "Helvetica Neue", Arial, Helvetica,sans-serif;
	font-weight:  bold;
	text-align: center;
	text-indent: 0em;
	color:#75000b;
	font-weight:inherit;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: .5em;
	margin-left: 0;
	-webkit-font-smoothing: subpixel-antialiased;
	padding-top: 2em;
	padding-right: 0em;
	padding-bottom: 0em;
	padding-left: 0em;
	}
	
	
h1 strong, h2 strong, h1.strong, h2.strong {
	font-weight:200;
}

h3.strong, h3 strong{
	font-weight:700;
}

h3.inline, h3.inline.strong{ 
	display:run-in; 
	text-align:left;
	margin-left:-1.5em; 
	font-weight:700;
	}

div.pGroup {
	text-align:left;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	display:inline;
	display:clear;
}


/* p dec */
p 	{
	margin-top: 0em;
}

div.bodyTxt p.sb{ 
		font-size: 0.95em ;
		text-align: left;
		padding-top: .5em;
		margin-top: -.75em;
 		-webkit-font-smoothing: subpixel-antialiased;
}

div.bodyTxt p.sb:first-child{ 
    font-size: 0.95em ;
	text-align: left;
	padding-top: .5em;
	margin-top: .75em;
 	-webkit-font-smoothing: subpixel-antialiased;
}

div.openingContent p, div.closingContent{
	text-align: center;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif !important;
	margin-left: 0em;
}

div.closingContent {
	margin-top:1em;
}

/* BIBLE WORDS INDEXED */
 
.sm{ 
	display:block;
	-webkit-font-smoothing: subpixel-antialiased;
	font:0.95em/1em;
	font-family: serif;
	text-align: left;
	padding-left:0.75em;
	text-indent:-1.5em;
	margin-top: 0.2em;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 1.5em;
	/*clear:display;*/
}


.sk{ 
display:block;
-webkit-font-smoothing: subpixel-antialiased;
	font-size:0.95em/1em;
	font-family: serif;
	text-align: left;
	padding-left:2em;
	margin-top: 0.2em;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 1em;
	/*clear:display;*/
}



p.sw {
	text-align: center;
	font-size: small;
	margin-bottom: 2em;
	font-style:italic;
	margin-right:70%;  
 }

p.sc, .pGroup p.sc {
	font-size: .95em;
	text-align: left;
	padding-top: 0em;
	margin-top: .2em;
	margin-bottom: 0em;
	margin-left:1.5em;
	font-family:"Times New Roman", Times, serif;
}


p.sn {
	font-size: 1em;
	text-align: left;
	padding-top: 1em;
	margin-top: .75em;
	margin-bottom:0.3em;
	font-family:"Times New Roman", Times, serif;
}


/* cite*/
div.groupFootnote:before {
	font-size: 1em;
	color: grey;
	content: "_______________";
}

div.groupFootnote p{
	font-size: 0.75em;
	margin-top: 1.25em;
	margin-right: 0em;
	-webkit-font-smoothing: subpixel-antialiased;
}

div.groupExtScrpCite p {
	font-size: 0.75em;
	margin-top: 1em;
	-webkit-font-smoothing: subpixel-antialiased;
}

div.groupExtScrpCite {
	padding-top: .25em;
}

div.groupExt {
	margin-top: 1.75em;
}


/************************************/


/* navigation */
p.w_navigation.w_biblebookname a:active, a:active,
p.w_navigation.w_biblebookname a:link, a:link,
p.w_navigation.w_biblebookname a:visited, a:visited
    {
    font-family:inherit;
    font-weight: 200;
	margin-top: 0em;
	margin-right: 0em;
	margin-bottom: 0em;
	margin-left: 0em;
	padding-top: 0em;
	padding-right: 0em;
	padding-bottom: 0em;
	padding-left: 0em;
	text-align:left;
     -webkit-text-fill-color: #6195c7;
    color: #6195c7;
 }

p.w_navigation.w_biblebookname a:hover, a:hover {
	-webkit-text-fill-color: grey;
	color: grey; }


/* MOBI */

e:link {
	color: #6195c7;
}
 
e:visited {
	color: #6195c7; 
	text-decoration: none;
}

e:active {
	color: #6195c7;
} 

e:hover {
	color: #666; 
	text-decoration: none;
} 

e:focus {
	color: #3fa2bf; 
	background-color: #c5b587;
}

/* CSS Document */

