
/* 		bi_18.CSS */
/*      TITLE PAGE/PUBLISHERS' PAGE*/

@page {
	border: .5ex;}

body {
	margin: 5%;
	text-align: left;
	}


/* verse quote */
div.bodyTxt p.themeScrp {
	text-align: center;
	font-size: 1.45em;
	margin-top: 2em;
	margin-right: 0em;
	margin-bottom: 1.2em;
	margin-left: 0em;
	font-family: "Times New Roman", Times, "Palatino Linotype", Georgia, serif !important;
	margin-left: 0em;
	font-weight: 500;
	-webkit-font-smoothing: subpixel-antialiased;
	}
	
h1 {
	font-family: "Times New Roman", Times, serif !important;
	text-align: center;
	font-size: 1.75em;
	line-height: normal;
	margin-top: .5em;
	margin-right: 0;
	margin-bottom: 1.1em;
	margin-left: 0;
	-webkit-font-smoothing: subpixel-antialiased;
}

.sb {
	font-family: "Times New Roman", Times, serif !important;
	font-size: 0.95em;
	line-height: 1.15em;
	text-indent: 0.5em;
	text-align: center;
	margin-top: 0.20em;
	margin-right: 0em;
	margin-bottom: .5em;
	margin-left: 0em;
	padding-bottom: .5em;
	-webkit-font-smoothing: subpixel-antialiased;
}

p.contextTtl {
	color:#3d3d3d;
	font-size: .95em;
	font-family: Arial, Helvetica, sans-serif !important;
	-webkit-font-smoothing: subpixel-antialiased;
	text-align: center;
	margin-top: 0em;
	margin-right: 0em;
	margin-bottom: 1em;
	margin-left: 0em;
	-webkit-hyphens:none;
	border-bottom: thin solid #3d3d3d;
	padding-bottom: 0.3em;
	text-transform: uppercase;
}


h2 strong, .contextTtl strong {
	font-size: 105%;
	font-family: Helvetica, sans-serif;
	text-align:center;
	font-weight:400;
	line-height: normal;
	margin-top: 0em;
	margin-right: 0em;
	margin-bottom: 1em;
	margin-left: 0em;   
	text-transform: none;
	-webkit-font-smoothing: subpixel-antialiased;}

h2 + h1 {
	margin-top: 0.25em;
	-webkit-font-smoothing: subpixel-antialiased; }



div.boxSupplement{
	overflow: hidden;
	margin-top: 2em; 					/* changed from 1em*/
	margin-bottom: .5em;  				/* changed from .5 em*/
	padding: 2em 1em 0em 1em; 					/* increased to give more space between boxes*/
	padding: 20px 10px;
	margin-right: 0em;
	padding: 1.25em 2.25em;
	clear: both;
	-webkit-font-smoothing: subpixel-antialiased;
}

div.groupPubInfo    {
	margin-top: 2em; 
	-webkit-font-smoothing: subpixel-antialiased;}

	
div.bodyTxt {
	text-align: center;
	text-indent: 0em;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: .8em !important;
	-webkit-font-smoothing: subpixel-antialiased;
}

div.groupPubInfo,
div.copyrightInfo {
    margin-top: 1em;
	margin-right: 0;
    padding-top: 0.5em;
	padding-right: 0;
	-webkit-font-smoothing: subpixel-antialiased;
}

div.boxSupplement .si, .groupPubInfo p.si,
.copyrightInfo p.si {
	font-size:80%;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	padding-left: 1em;
	-webkit-font-smoothing: subpixel-antialiased;
}


.si {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.8em;
	line-height: 1.2em;
	margin-top:1em ;
	margin-right: 0;
	margin-bottom: 1em;
	margin-left: 0;
	padding-top: 0;
	padding-right: 1.5em;
	padding-bottom: 0;
	padding-left: 1.5em;
	-webkit-font-smoothing: subpixel-antialiased;
}

						
/*web browsers + other */

a:active, a:link, a:visited   {
	-webkit-text-fill-color: #6195c7;
	color:#6195c7; 
	font-family: "Times New Roman", Times, serif;}  

a:hover   {
	color:gray;  
	text-decoration: none; 
} 


/* MOBI */

e:link {
	color: #6195c7;
}
 
e:visited {
	color: #6195c7; 
	text-decoration: none;
}

e:active {
	color: #6195c7;
} 

e:hover {
	color: #666; 
	text-decoration: none;
} 

e:focus {
	color: #3fa2bf; 
	background-color: #c5b587;
}




