
/* CSS Document */
/* 9-20-13, 9-23-13, 9-29-13, 10-5 REVISED 11-7, 12/29*/



body { 	
	margin: 5%;
	-webkit-font-smoothing: subpixel-antialiased; }



p.sn {
	font-size: .95em;
	text-align: left;
	padding-top: .5em;
	margin-top: .2em;
	margin-bottom: 0em;
}

/*p.st {
	font-family: "Times New Roman", "Times", serif;
	font-size: 1.25em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing:1px;
	-webkit-font-smoothing: subpixel-antialiased;
	margin-top: 1.5em;
}*/


h1, p.st, .st strong { 	font-family: 'Helvetica Neue', 'HelveticaNeue', Arial, Helvetica, sans-serif;
		text-align:center;
		text-transform: uppercase;
		color:gray;
		font-weight:200;
		font-size:1.5em;
		text-indent:0em;
		letter-spacing:1px;
		-webkit-font-smoothing: subpixel-antialiased;
		margin-top: 1.5em;}
		
strong {font-weight:200;}


.sb {
	font-family: "Times New Roman", Times, serif !important;
	font-size: 0.9em;
	line-height: 1.15em;
	text-indent: 0em;
	text-align: left;
	margin-top: 0.20em;
	margin-right: 0em;
	margin-bottom: 0.50em;
	margin-left: 0em;
}


.sb +.sb{
	text-indent: 0.5em;
}



.sj {
	font-family: "Lucida Calligraphy", "Brush Script Std", "Arial Unicode MS", serif !important;
	font-size: 0.95em;
	line-height: 1.2em;
	margin-top: 1em;
	margin-right: 0;
	margin-bottom: 1em;
	margin-left: 0;
	padding-top: 0;
	padding-right: 1.5em;
	padding-bottom: 0;
	padding-left: 1.5em;
	text-align: right;
}
.sj +.sj{
	font-family: "Times Roman", Times, Serif !important;
	font-size: 0.85em;
	line-height: normal;
	margin-top: 0.5em;
	text-align: right;
}


	
