/* 		wtoc.CSS  */
/*		 	history: done 2-10-13 for ePub2/ePub3 ePub3 END workaround*/
/* 			9-4 updated
/*  	TABLE OF CONTENTS  */
/*  1.		@ function commands
	2.		Headers
	3. 		p dec
	4.		display none
	5. 		link elements	
------------------------------------------------------------*/

@page 			{  			border: .5ex; }
		
body 			{			margin : 5%; 
							text-align: left;}

/* HEADERS __________________________________________________________*/
h1 {
			font: bold 1.25em "Times New Roman", Times, serif !important;
			text-align: center;
			text-transform: uppercase;
			-webkit-font-smoothing: subpixel-antialiased;
			border-bottom: 1px solid gray;
			padding: .25em 0em 0em 0em;
			margin-bottom: 0em;
} 

/*copyright*/
h2 {
			font: 0.85em/1.2em "Arial", Helvetica, sans-serif !important;
			text-align: center;
			margin: 0;
			text-indent:0em;
			page-break-after: avoid;
			-webkit-font-smoothing: subpixel-antialiased;
}
/*___________________________________________________________________*/	

p {
		-webkit-font-smoothing: subpixel-antialiased;
    	orphans: 2;
		widows: 2;
}

/* Display none*/

li {display:none;}

/*LINK ELEMENTS________________________________________________________________________*/

	/*apple: ibooks, ipad, iphone*/
a:link    {	-webkit-text-fill-color: maroon;
			} 
a:visited { -webkit-text-fill-color: gray;text-decoration: none;
			}
a:hover   {-webkit-text-fill-color: blue;text-decoration: none;
			} 
a:active  { -webkit-text-fill-color: maroon;
			} 

	/*web browsers + other */

	a:link    {color:maroon;}  
	a:visited {color:#c9c9c9; text-decoration: none;}
	a:hover   {color:#0000FF;text-decoration: none;} 
	a:active  {color:#800000;} 

/* MOBI */

e:link {
	color: #6195c7;
}
 
e:visited {
	color: #6195c7; 
	text-decoration: none;
}

e:active {
	color: #6195c7;
} 

e:hover {
	color: #666; 
	text-decoration: none;
} 

e:focus {
	color: #3fa2bf; 
	background-color: #c5b587;
}



/*______________________________________________________2-10-13_______*/	 
