
/* Appendix  - Table of Contents */

div {margin:1px;}

@page {    	
	border: .3ex; 
}
						
body {
	margin: 5%;
	-webkit-font-smoothing: subpixel-antialiased;
}

p { 
	text-align: left;
	line-height: normal;
	text-indent: 0em;
	font-family: "Times New Roman", Times, serif;
	font-size: .95em;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size-adjust: none;
	font-stretch: normal;
	orphans: 2;
	widows: 2;
	-webkit-font-smoothing: subpixel-antialiased;
}


/* HEADER */

h1.contextTtl {
	text-align: center;
	color:#3d3d3d;
	text-transform: uppercase;
	padding-bottom: 0.3em;
	font: .95em Arial, Helvetica, sans-serif !important;
	margin: 0em 0em 2em 0em;
	border-bottom: thin solid #3d3d3d;
}

div.groupTOC {
	text-indent: 1.25em;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 1em;
	text-align:left;
}	

/*div.groupTOC p {font-size:1em; 
text-indent:-5em; /*epub value 4.25*/
/*text-indent:-5em;  /*mobi value*/
/*margin-left:.5em;  /*epub value*/
/*padding-right:2px;
padding-left:4em;}

/* added to add space in TOC for chapters */

/*div.groupTOC p>a { 
/*list-style-position: outside;*/
/*font: 1em/1.2em 'Helvetica Neue', 'HelveticaNeue', "Arial", Helvetica, sans-serif;
text-align:left;
padding-left:3em; /*wrap without text-indent use*/
/*margin-right:0em; /*for eoub*/
/*margin-left:0em; /*for mobi*/
/*text-indent:0em;/*for mobi*/
/*-webkit-font-smoothing: subpixel-antialiased; }*/


div.groupTOC p>a { 
/*list-style-position: outside;*/
font: 1em/1.2em 'Helvetica Neue', 'HelveticaNeue', "Arial", Helvetica, sans-serif;
text-align:left;
padding-left:3em; /*wrap without text-indent use*/
/*margin-left:0em; /*for mobi*/
-webkit-font-smoothing: subpixel-antialiased; }

div.groupTOC p {font-size:1em; 
text-indent:-5em; /*epub value */
/*text-indent:-4.75em;  /*mobi value*/
/*padding-right:2px;*/
padding-left:4em;
margin-left:1em; }

div.groupTOC p.p2 {word-spacing:1.5em;}  /* adjust title spacing*/


p.contextTtl {
	color:#3d3d3d;
	text-transform: uppercase;
	text-align: center;
	font: .95em Arial, Helvetica, sans-serif !important;
	padding-bottom: 0.3em;
	margin: 0em 0em 2em 0em;
	border-bottom: thin solid #3d3d3d;
}


/* HEADER */


div.bodyTxt {
	font-size: .95em;
	margin-top: .20em;
	margin-bottom: .50em;
}


/* LINK ELEMENTS */

/*apple: ibooks, ipad, iphone*/

a:link {	
	-webkit-text-fill-color: #3fa2bf;
color: #3fa2bf;}
	
 
a:visited { 
	-webkit-text-fill-color: gray;
	color: #c9c9c9; 
	text-decoration: none;
	
}

a:hover {
	color: #0000FF;
	-webkit-text-fill-color: blue;
	text-decoration: none;
	
} 

a:active  { 
	-webkit-text-fill-color: maroon;
	color: #800000;
} 


/* MOBI */

e:link {
	color: #3fa2bf;
}
 
e:visited {
	color: #c9c9c9; 
	text-decoration: none;
}

e:active {
	color: #800000;
} 

e:hover {
	color: #0000FF; 
	text-decoration: none;
} 

e:focus {
	color: #3fa2bf; 
	background-color: #c5b587;
}

/* ----------------------------------------------------------------- */	 


