/* bh_19.css - Table of Contents */

/* -------------------------------------------------------------------*/


/* THE FOLLOWING * ENTRY BELOW IS SUPPOSE TO SET ANY AND ALL BROWSER DEFAULT PROPERTIES ON YOUR PAGE TO ZERO. */

* { 
	margin: 0;
	padding: 0;	
	border: 0;
}

/* HEADER */

h1.contextTtl {
	text-align: center;
	color:#3d3d3d;
	text-transform: uppercase;
	padding-bottom: 0.3em;
	font-size: 1.05em;
	font-famly: Arial, Helvetica, sans-serif !important;
	margin-top: 0em;
	margin-right: 0em;
	margin-bottom: 2em;
	margin-left: 0em;
	border-bottom: thin solid #3d3d3d;
	font-weight:500;
}

.strong {
	font-weight:500
}


div.groupTOC p{
	margin-left: 1em;
	text-indent: -1.1em;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 1em;
}	


@page {    	
	border: .5ex; 
}

body {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: .95em;
	margin: 5%;
	-webkit-font-smoothing: subpixel-antialiased;
}

/* P */

p {
	text-align: left;
	text-indent: 1em;
	line-height: 1.2em;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: .95em;
	padding-bottom: 1.1em /* required for Aldiko */;
	orphans: 2;
	widows: 2;
	-webkit-font-smoothing: subpixel-antialiased;
}

p.byline {
	text-indent: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .85em;
}

p.pagenavnum, p.w_pagenavnum {
	line-height: 2.5em;
	text-indent: 0;
	font-size: large;
	word-spacing: 1.5em;
}


/* LINK ELEMENTS */

/*apple: ibooks, ipad, iphone*/

a:link {
	-webkit-text-fill-color: #3fa2bf;
	-webkit-tap-highlight-color: silver;
} 

a:visited {
	-webkit-text-fill-color: gray;
	text-decoration: none;
	-webkit-tap-highlight-color: silver;
}

a:hover {
	-webkit-text-fill-color: blue;
	text-decoration: none;
	-webkit-tap-highlight-color: silver;
} 

a:active {
	-webkit-text-fill-color: maroon;
	-webkit-tap-highlight-color: silver;
} 

/*web browsers + other */

a:link {
	color: #3fa2bf;
}  

a:visited {
	color: #c9c9c9;
	text-decoration: none;
}

a:hover {
	color: #0000FF;
	text-decoration: none;
} 

a:active {
	color: #800000;
} 

/* MOBI */
e:link {
	color: #3fa2bf;
} 

e:visited {
	color: #c9c9c9;
	text-decoration: none;
}

e:active {
	color: #800000;
} 

e:hover {
	color: #0000FF;
	text-decoration: none;
} 

e:focus {
	color: #3fa2bf;
	background-color: #c5b587;
}
