/* default.css - 12/12/14 */ 

/* ------------------------------------------------------------------ */


/* THE FOLLOWING * ENTRY BELOW IS SUPPOSE TO SET ANY AND ALL BROWSER DEFAULT PROPERTIES ON YOUR PAGE TO ZERO. */

* { 
	margin: 0;
	padding: 0;	
	border: 0;
}
						

/*NEW DEFAULT STYLES */

@page {    	
	border: .5ex; 
}

body {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: .95em;
	margin: 5%;
	-webkit-font-smoothing: subpixel-antialiased;
}


/* P */

p {
	text-align: left;
	text-indent: 1em;
	line-height: 1.2em;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: .95em;
	padding-bottom: 1.1em /* required for Aldiko */;
	orphans: 2;
	widows: 2;
	-webkit-font-smoothing: subpixel-antialiased;
}

p.byline {
	text-indent: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .85em;
}

p.contextTtl { 
	color: #999999;
	text-indent: 0;
	line-height: normal;
	font-size: 110%;
	padding-bottom: .5em;
}

p.contextTtl strong {
	text-indent: 0;	
	font-weight: lighter;
}

p.themeScrp {
	text-indent: 0;
	font-size: 1.2em;
	margin-bottom: .5em;
}

p.pagenavnum, p.w_pagenavnum {
	text-indent: 0;
	font-size: large;
}


/* OTHER */

#section1 p:nth-child(2) /*first paragraph*/ { 
	text-indent: 0em; 					
}

blockquote {
	text-indent: 0;
	font-family: Arial, Helvetica, sans-serif;
	padding-right: .5em;
	padding-left: .5em;
}

blockquote p {
	text-indent: 0;
}

blockquote.rule {
	text-indent: 0;
	margin-bottom: 1em;
	padding-top: 1em;
	padding-right: .5em;
	padding-left: .5em;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

ul {
	margin-left: 1.2em;	
}

ul.noMarker { 
	list-style-type: none;
	margin-left: 0em;	
	padding-left: 0em;	
}

ol { 
	list-style-type: disc;
}

ol.upperAlpha, ol { 
	padding-left: 1.5em;
}

li.timeBCE p, li.timeCE p{
	text-indent: 0em;
	padding-left: .5em;
}


/* H */

h1 { 
	text-indent: 0;
	line-height: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;
	margin-bottom: 1em;
	font-weight: lighter;
}

h1.coverTtl {
	display: none;
}

h1.contextTtl {
	text-indent: 0;
	color: #999999;
	font-size: 1.05em;
}

h1 strong, h1.contextTtl strong{
	text-indent: 0;
	font-weight: 500;
}

h2 {
	text-indent: 0;
	line-height: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.25em;
	margin-top: .5em; 
	margin-bottom: .5em; 
}

h2 strong{
	color: #424242;
	text-indent: 0;
	font-weight: 500;
}

h3  {
	text-indent: 0;
	line-height: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.25em;
	padding-bottom: .3em;
}

h3.inline {
	text-indent: 0;
	line-height: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	padding-bottom: .3em;
}

h3 strong, h3.inline strong{
	color: #424242;
	text-indent: 0;
	font-weight: 500;
}


/* DIV */


div.bodyTxt p.qu  {
    	color: #1f9c0a; 
	text-indent: 0em;
	font-size: .85em;
	line-height: 1.11em;
	font-family: Arial, Helvetica, sans-serif !important;
	padding-bottom: .3em; 
}

div.openingContent {
	text-indent: 0;
	font-size: 1.2em;
	padding-bottom: .5em;
}

div.openingContent p{
	text-indent: 0;
}

div.openingContent blockquote {
	padding-right: 0;
	padding-left: 0;
}

div.closingContent {
	text-indent: 0;
	padding-top: .5em;
}

div.closingContent p{
	text-indent: 0;
}

div.relatedContent {
	text-indent: 0;
	border-top: 1px solid #999999;
}

div.relatedContent p{
	text-indent: 0;
	padding-top: 1em;
	padding-bottom: 0em;
}

/* blurbs */

div.stdCaption p, div.stdPullQuote p, div.blockTxt.rule p {
	color: #999999;
	text-indent: 0;
	font-size: 1.3em;
	margin-bottom: 1em;
	padding-top: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
}

div.stdCaption.floatEast, div.stdPullQuote.floatEast , div.blockTxt.floatEast{
	clear: both;
	width: 40%;
	text-indent: 0;
    	float: right;
	margin-bottom: 1em;
	margin-left: 1em;
}

/* boxes */

div.boxSupplement, div.boxSupplement.rule {
	clear: both;
	text-indent: 0;
	margin-top: 2em;
	margin-bottom: 2em;
	page-break-inside: avoid;
	background-color: #f3f3f5;
	-webkit-column-break-inside: avoid;
	overflow: hidden; /* CSS3 */
	overflow: auto; /* CSS2 */
}

div.blockTeach { 
	font-family: Arial, Helvetica, sans-serif !important;
	display: block;
	padding-top: 2em;
}
div.boxTtl {
	color: #424242;
	text-indent: 0;
	font-size: 1.2em;
	padding-top: 1em;
	padding-right: 1em; 
	/* 'padding-bottom: 1em' pulls from p */
	padding-left: 1em; 
	/* 'padding-left: 1em' and 'padding-right: 1em' allows rule to go full-width of box */
	background-color: #f3f3f5; /* some Android readers require this */
}

div.boxTtl.rule {
	color: #424242;
	text-indent: 0;
	border-bottom: 1px solid #9E9C9B;
	padding-bottom: .5em;
	background-color: #f3f3f5; /* some Android readers require this */
}

div.boxTtl.rule div /* required for certain Android readers */{  
	color: #424242;
	text-indent: 0; 
	background-color: #f3f3f5; 
}

div.boxTtl  strong, div.boxTtl.rule  strong{
	color: #424242;
	text-indent: 0;
	font-weight: 500;
	background-color: #f3f3f5; /* some Android readers require this */
}

div.boxTtl.emphasized {
	text-indent: 0;
	padding-top: .6em;
	padding-bottom: .5em;
	background-color: #9E9C9B; /* some Android readers require this */
}

div.boxTtl.emphasized div /* required for certain Android readers */{  
	text-indent: 0; 
	background-color: #9E9C9B; 
}

div.boxTtl.emphasized strong {
	color: #ffffff;
	text-indent: 0;
	font-weight: 500;
	background-color: #9E9C9B; /* some Android readers require this */
}

div.boxContent {
	color: #424242;
	text-indent: 0;
	padding-top: 1em;
	padding-right: 1.2em;
	/* 'padding-bottom: 1em' pulls from p */
	padding-left: 1.2em;
	background-color: #f3f3f5; /* some Android readers require this */
	-webkit-column-break-inside: avoid;	
}

div.boxContent p {
	text-indent: 0;
	background-color: #f3f3f5;
}

div.boxContent blockquote {
	text-indent: 0;
	background-color: #f3f3f5;
}

/* images */

div.north_center { 
	width: 100% !important;
    	line-height: 1.20em !important;
    	margin-top: 0em !important;
	margin-right: 0em !important;
	margin-bottom: 1em !important;
	margin-left: 0em !important;
    	display: inline-block;
}

div.south_center { 
	width: 100% !important;
    	line-height: 1.20em !important;
    	margin-top: 0em !important;
	margin-right: 0em !important;
	margin-bottom: 1em !important;
	margin-left: 0em !important;
    	display: inline-block;
}

div.east_right {
	clear: both;
	width: 40%;
	float: right;
	margin-bottom: 1em;
	margin-left: 1em;
}

div.east_left {
	clear: both;
	width: 25%;
	float: right;
	margin-bottom: 1em;
	margin-left: 1em;
}

div.west_left {
	clear: both;
	width: 25%;
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
}

div.w_afterparimg {
	clear: both;
}

figure, img {
	width: 100% !important;
    	clear: both;
    	margin: 0em;
	vertical-align: text-top;
}

/* image caption */

div.north_center p, div.south_center p, div.east_right p {
	text-indent: 0;
	font-size: .85em !important;
	padding-top: .75em !important;
	padding-right: 0em !important;
	padding-bottom: .75em !important;
	padding-left: 0em;
	border-bottom: 1px solid;
}


/* EXTRACTED */

div.groupExtScrpCite:before, div.groupFootnote:before{
	color: #CCC;
	content: "_______________";
}

div.groupFootnote  {
	text-indent: 0;
	margin-top: 2em;
}

div.groupFootnote p {
	text-indent: 0;
	margin-top: 1em;
	padding-bottom: 0;
}

div.groupExtScrpCite  {
	text-indent: 0;
	margin-top: 2.5em;
}

div.groupExtScrpCite p {
	text-indent: 0;
	margin-top: 1em;
	padding-bottom: 0;
}


/* LINK ELEMENTS */

/*apple: ibooks, ipad, iphone*/

a:link {
	-webkit-text-fill-color: #3fa2bf;
	-webkit-tap-highlight-color: silver;
} 

a:visited {
	-webkit-text-fill-color: gray;
	text-decoration: none;
	-webkit-tap-highlight-color: silver;
}

a:hover {
	-webkit-text-fill-color: blue;
	text-decoration: none;
	-webkit-tap-highlight-color: silver;
} 

a:active {
	-webkit-text-fill-color: maroon;
	-webkit-tap-highlight-color: silver;
} 

/*web browsers + other */

a:link {
	color: #3fa2bf;
}  

a:visited {
	color: #c9c9c9;
	text-decoration: none;
}

a:hover {
	color: #0000FF;
	text-decoration: none;
} 

a:active {
	color: #800000;
} 

/* MOBI */

e:link {
	color: #3fa2bf;
} 

e:visited {
	color: #c9c9c9;
	text-decoration: none;
}

e:active {
	color: #800000;
} 

e:hover {
	color: #0000FF;
	text-decoration: none;
} 

e:focus {
	color: #3fa2bf;
	background-color: #c5b587;
}

