<ion-view view-title="{{ book.title }}">
    <!-- Main content -->
    <ion-content>
    <article class="row">
      <div class="col col-center">
        <a class="item item-thumbnail-left" href="#/book">
          <img src="/img/placeholder.png" />
          <h2>Lorem ipsum dolor</h2>
          <p>Lorem ipsu dolor set amet.</p>
        </a>

        <a class="item item-thumbnail-left" href="#/book">
          <img src="/img/placeholder.png" />
          <h2>Lorem ipsum dolor</h2>
          <p>Lorem ipsu dolor set amet.</p>
        </a>
      </div><!-- /.col -->
    </article><!-- /.row -->
  </ion-content>
</ion-view>