/* Content.htlm */
.bg {
	background-image: url('/img/background.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}

.col{
	background: rgba(0, 0, 0, .5);
	margin: 2px;
}

iframe {
	/* We set only the width of the iframe 
	   because we use jquery to set the height
	   of the iframe for better view in all devices
	*/
	width: 100%;
}
