/* es15_18.CSS - Title Page/Publishers' Page */

@import "default.css";


p.contextTtl {
		text-align: center !important;
}
p.contextTtl Strong {
		text-align: center !important;
}
h1.contextTtl strong{
	text-align: center;
}
div.bodyTxt p{
	font-size: .95em;
	text-align: center;
}
div.copyrightInfo p {
	text-align: center !important;
	text-indent: 0em !important;
	font-family: Arial, Helvetica, sans-serif;
}  

div.copyrightInfo {
	padding-top: .5em;
	padding-bottom: .5em;
}

div.groupPubInfo p { 
	text-align: center !important;
	text-indent: 0em !important;
	font-family: Arial, Helvetica, sans-serif;
}
div.groupPubInfo {
	padding-top: .5em;
	padding-bottom: .5em;
}